/*
{///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////}
                                        {///////////////////////////////////////////////////////////////////////}
                                        {//////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\}
                                        {////////////////////////     Created By      \\\\\\\\\\\\\\\\\\\\\\\\\\}
                                        {//////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\}
                                        {///////////////////////     Ahmed Sammer     \\\\\\\\\\\\\\\\\\\\\\\\}
                                        {//////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\}
                                        {//////////////////////     AWAMMER ELSHABKA    \\\\\\\\\\\\\\\\\\\\\\\\}
                                        {//////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\}
                                        {///////////////////////////////////////////////////////////////////////}
{///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////}
*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');
body{
    font-weight: 300;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    text-align: start;
    font-family: 'Cairo', sans-serif !important;
    font-size: 13px !important;
    overflow-x:hidden;
    background-color: #fff;
    color: #333132;
}
#app{
    font-family: 'Cairo', sans-serif !important;
}
// color variables

$main-color1: #C40F3D;
$main-color2: #BF4D66   ;
$main-color3: #285A7C;

// $main-white1: #ECF6FF;
// $main-white2: #F6F5F5;

// $main-green: #7BE099;

// $main-red: #E26767;

// $main-gradian1: linear-gradient(to top, #28D6F8 , #21B1F8);
// $main-gradian2: linear-gradient(to bottom, #2EBAFF , #1E88BC);



.mainColor{color: $main-color1 !important;}
.mainColor2{color: $main-color2;}
.whiteColor { color:#fff }
.boxShadow{ box-shadow: 0px 5px 10px rgba(158, 158, 158, 0.322); }
.border-0{
    border: none;
}
.o-5{
    opacity: .5;
}
.bordered_gray{
    border: 1px solid #ccc;
}
.fw-6{
    font-weight: 600;
}
.fw-5{
    font-weight: 500;
}
.br-5{
    border-radius: 5px;
}
.normal_font{
    font-size: 16px;
    font-weight: 600;
    margin: 0 11px;
}
.w-60{
    width: 60%;
}
.fs-15{
    font-size: 15px;
}
// .opacityMainColor{color: $opacity-main-color;}
// .opacityMainColor2{color: $opacity-main-color2;}

// .bgColor{color: $bg-color;}
// .bgColor2{color: $bg-color2;}

// .opacityBgColor{color: $opacity-bg-color;}
// .opacityBgColor2{color: $opacity-bg-color2;}


/* scrollbar custom */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BF4D66;
    border-radius: 5px;
}
.footer_bottom{
    display: flex;
    justify-content: space-between ;
    align-items:baseline;
}
.singleHead img{
    width: 100%;
}
@media(max-width:768px){
    .footer_right_hand{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer .footer_right_hand{
        border-left: none !important;
    }
    .footer_bottom{
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        padding-bottom: 10px !important;
    }
    .swiper-slide .row{
        flex-direction: column !important;
    }

    #land_slider .slider_image img{
        width: 100% !important;
    }
    .user_iter_action {
        width: 320px !important;
        margin-top: 10px !important;
    }
    .main_btn {
        width: 100px;
        font-size: 12px !important;
    }
    .slide_right h4 {
        font-size: 20px !important;
    }
    .slide_right .slide_p_2 {
        font-size: 13px !important;
    }
    #land_slider .slider_image img {
        height: 300px ;
        object-fit: cover;
    }
    h5{
        font-size: 14px !important;
    }
    #experts p{
        width: 100% !important;
    }
    #test .circled_section {
        margin: 0 35px !important;
    }
    #FAQS h4{
        font-size: 15px !important;
    }
    .accordion-item:first-of-type .accordion-button, .accordion-button {
        font-size: 12px !important  ;
        text-align: right !important;
    }
    .common_head[data-v-43c0b8ed]::before {
        right: 38% !important;
    }

    #ask .ask_details .free_circle {
        width: 85px !important;
        height: 85px !important;
        top: -11% !important;
    }
    #subscribe h4{
        font-size: 14px !important;
    }
    #footer .footer_right_hand .footer_desc, #footer h6{
        text-align: center !important;
    }
    .singleHead img{
        height: 30vh !important;
    }
    .rightSide p{
        font-size: 11px;
    }
    .rightSide h6{
        font-size: 14px;
    }
    .about_vision  h6{
        font-size: 14px !important;
    }
    .about_desc[data-v-666fde5a] {
        font-size: 12px !important;
    }

    .rightSide[data-v-666fde5a] {
        height: 327px !important;
        width: 40% !important;
    }

    .leftSide[data-v-666fde5a] {
        width: 50% !important;
        height: 340px !important;
    }
    .rewards {
        flex-direction: column !important;
        justify-content: center !important;
        align-items:  center !important;
    }
    .rewards .reward .circled img[data-v-5c0cdafa] {
        width: 116px !important;
        height: 122px !important;
    }
    .rewards .reward .circled[data-v-5c0cdafa] {
        width: 168px !important;
        height: 168px !important;
    }

    .common_head[data-v-736e9135][data-v-736e9135]::before {
        right: 41% !important;
    }

    .modal-dialog {
        max-width: 95% !important;
        margin: auto !important;
    }
    .main_btn.w-25{
        width: 50% !important;
    }
    .grid-container{
        display: flex !important;
        flex-direction: column !important;
    }

    .timesReserve{
        flex-wrap: wrap !important;
    }
    
    
    
}